<template name="hello">
  <button class="btn btn-dark navbar-btn logOut">Sign out</button>
  <p></p>
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-secondary">Challenge 1</button>
      <button type="button" class="btn btn-secondary">Challenge 2</button>
      <button type="button" class="btn btn-secondary">Challenge 3</button>
    </div>
    {{> atForm}}
    <div class="btn-group-vertical" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-secondary">Activity 1</button>
      <button type="button" class="btn btn-secondary">Activity 2</button>
      <button type="button" class="btn btn-secondary">Activity 3</button>
    </div>
  

  
</template>
