<template name="q1">
  <div class="container-fluid">
    <p> </p>
    <h2>What Do You Know about Physics?</h2>
    <div class="row">
      <div class="col-md-6">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <!-- <strong class="d-inline-block mb-2 text-primary">World</strong>
            <h3 class="mb-0">Featured post</h3>
            <div class="mb-1 text-muted">Nov 12</div> -->
            <p class="card-text mb-auto"> Directions for making your concept map:</p>
            <ol>
              <li> List as many words as you can think of that relate to the topics of work, energy, forces, and motion in the "brainstorming box".</li>
              <li> Start to create a map on the "My Map" page by writing words and drawing a circle around each word.</li>
              <li> Place arrows between the circles to show how words are connected</li>
              <li> Explain each connection along every arrow. </li>
            </ol>
            <p>This is a wider card with supporting text below as a natural lead-in to additional content.</p>
            
          </div>      
          
        </div>
      </div>

      <div class="col-md-4">
        <h4> Hints and tips: </h4>
        <ul>
          <li> For each concept, think about how it is related to other concepts.</li>
          <li> Don't use only "is a" or "part of" links, but think about how each words is related to other words. For example, "force causes acceleration".</li>
        </ul>
      </div>

    </div>
  <form class="save-bstorm">
    <div class="row">
      <div class="form-group col-md-6">
        <label for="bbox"><h2> Brainstorming Box </h2> </label>
        <textarea name="bboxText" form="save-bstorm" class="form-control" id="bbox" rows="8">{{bboxText}}</textarea> <!-- -->
      </div>
    </div>
    <input class="btn btn-primary" type="submit" name="submit" value="Save">
  </form>
  </div>
  
</template>
